@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  background-color: lightskyblue;
}

.woof {
  margin: 0 auto;
  margin-top: -20%;
  margin-bottom: -20%;
}

@media only screen and (min-width: 60em) {

  .woof {
    margin-top: -5em;
    margin-bottom: -10%;
  }
}

.core {
  max-width: 500px;
  margin: 0 auto;
}

.personality {
  max-width: 500px;
  margin: 0 auto;
}

.speaking-of {
  max-width: 500px;
  margin: 0 auto;
}

.tech {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}
